x.dat
test_variational_FCC
test_variational_random
test_rebalance_1D
test_rebalance_2D
test_rebalance_3D
variational
variational_2D
test_variational_2D
test_configuration
*.swp
a.out
#
*.pove
*.png
*.vis
